@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --light: #f0f2f5;
    --dark: #2c3643;
    --primary: #af92e1;
    --secondary: #6ec3e5;
    --success: #9bd3ae;
    --error: #e78b8e;
    --alert: #fccb6b;
}

* {
    color: var(--dark);
    font-family: 'Quicksand', 'sans-serif';
    font-weight: 500;
}

body,
p,
span,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

div,
main,
section,
form {
    display: flex;
}

/* BACKGROUNDS */
.bgPrimary {
    background-color: var(--primary);
}
.bgSecondary {
    background-color: var(--secondary);
}
.bgSuccess {
    background-color: var(--success);
}
.bgError {
    background-color: var(--error);
}
.bgAlert {
    background-color: var(--alert);
}

/* INPUTS */
.inputLight input {
    outline: none;
    border-color: var(--dark);
    border-width: 1px 1px 1px 0;
    border-radius: 0 4px 4px 0;
    height: 28px;
    padding-left: 8px;
}
.inputLight input::placeholder {
    opacity: 1;
    font-weight: 300;
}
.inputLight label {
    display: flex;
    align-items: center;
    border-color: var(--dark);
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    height: 30px;
    padding: 0 8px;
}
.inputLight label i {
    position: relative;
    top: 2px;
}

/* BUTTONS */
.btn {
    border: 1px solid var(--dark);
    border-radius: 4px;
    height: 32px;
    cursor: pointer;
    padding: 0 8px;
}
.btn i{
    position: relative;
    top: 1px;
}
.btn:hover {
    background-color: var(--dark);
    color: var(--light);
}
.btn:hover i{
    color: var(--light);
}