.circle {
    position: relative;
    width: 22px;
    height: 22px;
    border: 6px solid var(--dark);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.circleSmall {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--dark);
    border-radius: 50%;
    animation: see 2s ease infinite;
}
@keyframes see {
    0% {
        transform: translatex(0);
    }
    15% {
        transform: translatex(6px);
    }
    30% {
        transform: translatex(0);
    }
    45% {
        transform: translatex(-6px);
    }
    60% {
        transform: translatex(0);
    }
    100% {
        transform: translatex(0);
    }
}
